@page "/"

@inject IDataService DataService
@inject IJSRuntime Js;

<MudGrid Class="d-flex">
    <MudItem xs="2">
        <MudImage Src="images/carrot.webp" Style="height: 56px; width: auto; transform: scaleX(-1); float: left;"
                  Alt="An image of a Carrot."/>
    </MudItem>

    <MudItem xs="8">
        <MudText Typo="Typo.h2" Align="Align.Center" Style="color: orange;">
            EUREKA MINECRAFT
        </MudText>
    </MudItem>

    <MudItem xs="2">
        <MudImage Src="images/carrot.webp" Style="height: 56px; width: auto; float: right;"
                  Alt="An image of a Carrot."/>
    </MudItem>

    <MudFlexBreak/>

    <MudItem Class="flex-fill" lg="3" xs="12">
        <DiscordCard/>
    </MudItem>

    <MudItem Class="flex-fill" lg="6" xs="12">
        <PlayNowCard OnlineNow="_onlineToday"/>
    </MudItem>

    <MudItem Class="flex-fill" lg="3" xs="12">
        <PatreonCard/>
    </MudItem>

    <MudItem xs="12">
        <div @ref="_carouselContainerRef" style="height: 500px; border-radius: 5px; overflow: hidden;">
            <MudCarousel TData="object" Class="mud-width-full"
                         Style="height: 100%; border-radius: 5px;" ShowArrows="true"
                         AutoCycle="true" AutoCycleTime="TimeSpan.FromSeconds(5)">
                @foreach (var image in _carouselImages)
                {
                    <MudCarouselItem Transition="Transition">
                        <MudPaper>
                            <MudImage Class="responsive-carousel-image" ObjectFit="ObjectFit.Cover"
                                      Src="@image"></MudImage>
                        </MudPaper>
                    </MudCarouselItem>
                }
            </MudCarousel>
        </div>
    </MudItem>
</MudGrid>

@code {
    private const Transition Transition = MudBlazor.Transition.Fade;

    private List<Player> _onlinePlayers = [];
    private List<string> _carouselImages = [];
    private int _onlineToday;

    private ElementReference _carouselContainerRef;
    private IJSObjectReference? _jsModule;

    protected override async Task OnInitializedAsync()
    {
        _onlinePlayers = await DataService.GetOnlinePlayers();
        _onlinePlayers = _onlinePlayers.OrderByDescending(x => x.Name).ToList();
        _onlineToday = await DataService.GetTodayPlayerCount();
        _carouselImages = Directory.GetFiles("wwwroot/images/carousel", "*.*")
            .Where(file => new[] { ".jpg", ".jpeg", ".png", ".gif", ".webp" }.Contains(Path.GetExtension(file).ToLower()))
            .Select(file => $"images/carousel/{Path.GetFileName(file)}")
            .ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await Js.InvokeAsync<IJSObjectReference>("import", "/Components/Pages/Home.razor.js");
            await _jsModule.InvokeVoidAsync("initCarouselAutoHeight", _carouselContainerRef, 500);
        }
    }

}