<MudPaper Class="pa-4 text-center" Style="cursor: pointer; height: 100%;"
          onclick="window.open('https://discord.gg/eEN5tMVxYh', '_blank')">
    <div class="d-flex flex-column align-center">
        <MudText Align="Align.Center" Typo="Typo.h6" Class="mb-2">Join the Discord</MudText>
        <MudImage Src="images/discord.svg" Alt="Discord Logo" Width="48" Height="48"/>
    </div>
</MudPaper>

@code {

}