
.horizontal-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
}

.horizontal-nav ul {
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
}

.horizontal-nav li {
    flex: 1;
    text-align: center;
    max-width: 200px;
}

.horizontal-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}

.horizontal-nav li a:hover {
    background-color: #555;
}

.horizontal-nav li a.active {
    background-color: #4CAF50;
}
