<MudPaper Class="pa-4 text-center play-now-card"  Style="cursor: pointer; height: 100%;" onclick="window.open('ms-xbl-6af6e7cc://', '_blank')">
    <div class="d-flex flex-column align-center">
        <MudText Align="Align.Center" Typo="Typo.h6" Class="mb-2">Play Now</MudText>
        <MudText Align="Align.Center" Typo="Typo.h6" Class="mb-2">@OnlineNow Players Online Recently</MudText>
    </div>
</MudPaper>

@code {
    [Parameter]
    public int OnlineNow { get; set; } = 0;
}