name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x

      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        
        run: dotnet test --verbosity normal
      - name: Publish
        
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: dotnet publish Client/Client.csproj -c Release

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: production
      # url: https://${{ secrets.VPS_HOST }} # Optional: adds link in UI
    steps:
      - uses: actions/checkout@v4
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}
          
      # Deploy Client
      - name: Deploy Client to VPS
        run: |
          scp -r Client/bin/Release/net9.0/publish/* ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/home/test/Client/
          
      # Deploy Pinger
      - name: Deploy Pinger to VPS
        run: |
          scp -r Pinger/* ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/home/test/Pinger/
