# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  PROJECT_ROOT: /home/runner/work/eureka_tracker_blazor/eureka_tracker_blazor

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Publish
      run: dotnet publish Client/Client.csproj -c Release
    - uses: actions/upload-artifact@v4
      with:
        name: Client
        path: |
          ${{ env.PROJECT_ROOT }}/Client/bin/Release/net9.0/publish/
          ${{ env.PROJECT_ROOT }}/Pinger/
